@{
	Layout = "~/Views/Share/_LayoutCommon.cshtml";
	ViewBag.active3 = "active";
}
<img src="~/Content/images/rczp.jpg" class="img-responsive center-block" style="width:100%;">
<div class="container" style="margin:40px auto;">
	<div class="container mt30">
		<div class="row">
			<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
				<h3>职位列表</h3>
				<hr style="border: 1px dashed #e5e5e5;">
				<div class="panel-group" id="accordion_jrwm" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading_xszl">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_jrwm" href="#collapse_xszl" aria-expanded="false" aria-controls="collapse_xszl">
									销售助理
								</a>
							</h4>
						</div>
						<div id="collapse_xszl" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_xszl">
							<div class="panel-body">
								<p>岗位职责：</p>
								<p>1、负责行政公文、会议纪要、工作报告等起草及日常文秘、信息报送工作；</p>
								<p>2、协助部门做好其他的辅助服务工作；</p>
								<p>3、做好部门和其他部门的协调工作。</p>
								<br>
								<p>任职资格：</p>
								<p>1、有较好的沟通表达能力及服务意识；</p>
								<p>2、工作有条理，细致、认真、有责任心，办事严谨；</p>
								<p>3、熟练电脑操作及Office办公软件，具备基本的网络知识；</p>
								<p>4、熟悉办公室行政管理知识及工作流程，熟悉公文写作格式，具备基本商务信函写作能力；</p>
								<p>5、具备较强的文字撰写能力和较强的沟通协调以及语言表达能力；</p>
								<p>6、25~35周岁，女性。</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading_android">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_jrwm" href="#collapse_android" aria-expanded="false" aria-controls="collapse_android">
									Android开发工程师
								</a>
							</h4>
						</div>
						<div id="collapse_android" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_android">
							<div class="panel-body">
								<p>岗位职责：</p>
								<p>1、负责Android应用程序设计、编码、单元测试；</p>
								<p>2、负责现有系统维护及修改缺陷。</p>
								<p>3、公司互联网平台配套APP客户端开发工作。</p>
								<br>
								<p>任职资格：</p>
								<p>1、计算机相关专业本科以上学历，2年以上Android平台开发经验；</p>
								<p>2、熟练掌握java技术，熟悉面向对象编程设计，具备扎实的编程基础；</p>
								<p>3、熟悉Android应用开发框架及Activity生命周期、熟练进行Android UI/Framework开发技能、熟练使用Android SDK、熟练进行基于数据库的手机应用开发 ；</p>
								<p>4、熟悉Android各种widget组件，能根据项目要求开发自定义控件；</p>
								<p>5、熟悉Android下网络通信机制，对Socket通信、TCP/IP、Http有一定理解和经验；拥有良好的代码习惯，结构清晰，命名规范，逻辑性强。</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading_xmtyyzy">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_jrwm" href="#collapse_xmtyyzy" aria-expanded="false" aria-controls="collapse_xmtyyzy">
									新媒体运营专员
								</a>
							</h4>
						</div>
						<div id="collapse_xmtyyzy" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_xmtyyzy">
							<div class="panel-body">
								<p>岗位职责</p>
								<p>1、负责理财网站平台线上开户、交易等业务的咨询工作；</p>
								<p>2、负责客户资料的收集和系统录入,并分析相应数据推导、提炼客户需求；</p>
								<p>3、负责理财网站平台在线QQ和热线电话的业务咨询和回复工作，并做好信息收集和统计工作；</p>
								<p>4、负责网站平台的信息发布栏目中的信息查核工作，通过邮件、电话等形式向网站客户进行信息传达工作；</p>
								<p>5、在网络推广负责人的指导下，进行公司网络推广和网络营销，更大更全面的宣传和扩大公司影响力。</p>
								<br>
								<p>任职要求</p>
								<p>1、中专以上学历，1年以上客服相关工作经验优先考虑；</p>
								<p>2、普通话标准，具有较强的沟通能力；</p>
								<p>3、学习能力强，需快速掌握业务、产品等知识；</p>
								<p>4、耐心且能承受压力，有效处理客户投诉，细致完成客服回访、信息收集等工作；</p>
								<p>5、掌握基本的office操作，并能使用项目后台等相关系统。</p>
								<p>6、具备处理问题、安排进展、跟进进程、沟通及疑难问题服务的意识跟能力，最大限度的提高客户满意度。</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading_wlbj">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_jrwm" href="#collapse_wlbj" aria-expanded="false" aria-controls="collapse_wlbj">
									网络编辑
								</a>
							</h4>
						</div>
						<div id="collapse_wlbj" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_wlbj">
							<div class="panel-body">
								<p>岗位职责：</p>
								<p>1、网站建设：包括网站策划、网页设计、网站功能、网站内容整理、网站推广、网站评估、网站运营、网站整体优化，通过网站达到开展网上营销，实现电子商务的目的。</p>
								<p>2、信息发布：将信息通过网络传递给目标人群，包括顾客／潜在顾客、媒体、合作伙伴等等。</p>
								<p>3、网络广告：通过网络广告树立品牌形象，进行品牌推广。</p>
								<p>4、网络品牌：以公司网站建设为基础，通过一系列的推广措施，达到顾客和公众对企业的认知和认可。</p>
								<p>5、电子商务：在互联网上进行电子商务活动，有专业的数据分析人员提供准确的数据，交由策划人员与编辑人员，作出营销方案，再由业务人员具体执行</p>
								<br>
								<p>任职资格：</p>
								<p>1、专科以上学历，中文、新闻、广告、网络营销等相关专业，2年以上公司营销策划工作经验；</p>
								<p>2、有金融行业网络文案编辑经验者优先，擅长网络编辑及营销型文案写作，有较强的文字编写能力和策划能力，能够准确捕捉产品亮点,文字具煽动性、概念性强；</p>
								<p>3、优秀的营销策划能力，能独立策划大型促销和事件营销活动；</p>
								<p>4、具有丰富的项目和团队管理能力，善于沟通和协调；责任心强，抗压性强，具有团队合作精神。</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading_net">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_jrwm" href="#collapse_net" aria-expanded="false" aria-controls="collapse_net">
									.net开发工程师
								</a>
							</h4>
						</div>
						<div id="collapse_net" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_net">
							<div class="panel-body">
								<p>要求描述：</p>
								<p>1、计算机或相关专业本科以上学历；</p>
								<p>2、二年以上.net开发经验；</p>
								<p>3、精通.net相关开发技术，熟练掌握asp.net 2.0、3.0技术；</p>
								<p>4、熟悉AJAX,Html，JavaScript，css等；</p>
								<p>5、使用C#开发、SQL Server数据库，有系统优化经验者优先考虑；</p>
								<p>6、学习能力强，工作扎实进取，具备良好的表达和沟通能力以及团队合作精神；</p>
								<br>
								<p>任职要求：</p>
								<p>1、精通基于C#的asp.net后台开发，有成熟的网站开发经验或管理系统开发经验；</p>
								<p>2、精通基于sql的数据库包括存储过程，视图等应用及设计；</p>
								<p>3、熟悉JavaScript，JQuery及Ajax开发应用；</p>
								<p>4、2年以上的基于CS/BS的管理系统开发经验；</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading_wzmg">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_jrwm" href="#collapse_wzmg" aria-expanded="false" aria-controls="collapse_wzmg">
									网站美工
								</a>
							</h4>
						</div>
						<div id="collapse_wzmg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_wzmg">
							<div class="panel-body">
								<p>岗位职责</p>
								<p>1、根据网站及网络平台专题策划方案，完成日常专题页面的设计及制作</p>
								<p>2、按照需求完成网站及网络平台内部各广告位及对外宣传相关图片设计</p>
								<p>3、完成网站及网络平台所需其他美工设计制作工作</p>
								<p>4、根据公司的营销和推广计划，设计相应的营销广告</p>
								<p>5、完成上级领导交待的其它工作</p>
								<p>6、负责网站及网络平台详情的规划、构思、设计、编辑、美化工作；</p>
								<br>
								<p>任职要求</p>
								<p>1、男女不限，户籍不限，年龄18-30周岁</p>
								<p>2、口齿清晰，普通话标准，品行端正，形象气质良好</p>
								<p>3、美术设计相关专业毕业，大专以上学历，熟悉网页的设计流程，有相关网页设计经验优先</p>
								<p>4、较强的平面设计和网页设计创意能力</p>
								<p>5、熟练操作Photoshop、AI、Dreamweaver、Illustrator等常用设计制作软件</p>
								<p>6、具备较强设计创造力，独特的视觉表现能力，较强色彩搭配能力，思维活跃，有创意</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading_wzkf">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_jrwm" href="#collapse_wzkf" aria-expanded="false" aria-controls="collapse_wzkf">
									网站客服
								</a>
							</h4>
						</div>
						<div id="collapse_wzkf" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_wzkf">
							<div class="panel-body">
								<p>岗位职责：</p>
								<p>1、负责理财网站平台线上开户、交易等业务的咨询工作；</p>
								<p>2、负责客户资料的收集和系统录入,并分析相应数据推导、提炼客户需求；</p>
								<p>3、负责理财网站平台在线QQ和热线电话的业务咨询和回复工作，并做好信息收集和统计工作；</p>
								<p>4、负责网站平台的信息发布栏目中的信息查核工作，通过邮件、电话等形式向网站客户进行信息传达工作；</p>
								<p>5、在网络推广负责人的指导下，进行公司网络推广和网络营销，更大更全面的宣传和扩大公司影响力。</p>
								<br>
								<p>任职要求</p>
								<p>1、大专以上学历，1年以上客服相关工作经验优先考虑；</p>
								<p>2、普通话标准，具有较强的沟通能力；</p>
								<p>3、学习能力强，需快速掌握业务、产品等知识；</p>
								<p>4、耐心且能承受压力，有效处理客户投诉，细致完成客服回访、信息收集等工作；</p>
								<p>5、掌握基本的office操作，并能使用项目后台等相关系统。</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading_gly">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_jrwm" href="#collapse_gly" aria-expanded="false" aria-controls="collapse_gly">
									系统管理员/网络管理员
								</a>
							</h4>
						</div>
						<div id="collapse_gly" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_gly">
							<div class="panel-body">
								<p>职位描述：</p>
								<p>1、公司计算机软硬件的日常维护、管理及监控,公司所有人员计算机系统的管理；</p>
								<p>2、网路和服务器升级，备份、恢复和问题解决，保障公司电话、网络正常运转；</p>
								<p>3、优化网络系统，规划调整设备配置，完成路由器/防火墙的配置，参与服务器与应用系统的管理，确保系统的稳定可靠运行；</p>
								<p>4、设备和软件的安装，电脑周边设备（打印机、扫描仪、传真机、复印机、投影仪等）安装与维护；</p>
								<p>5、熟悉弱电系统，监控、红外线报警、门禁，考勤等系统维护；</p>
								<p>6、领导交予的其它工作。</p>
								<br>
								<p>任职要求：</p>
								<p>1、高中以上学历，计算机应用与技术等相关专业；具有以下认证证书之一，CCNP/HCSE/MCSE/CISP证书/信息系统监理工程师认证者或信息系统项目管理师证书者优先。</p>
								<p>2、1年以上行政IT工作经验，持有全国计算机应用与技术证书等优先考虑；</p>
								<p>3、熟悉交换机、软硬路由器的安装、调试及管理，熟悉办公软件、WINDOWS操作系统；</p>
								<p>4、能独立排除电脑和网络的故障并处理好问题，工作终端、打印机、无线路由器等IT资产的硬件、软件安装部署、维护管理；</p>
								<p>5、工作主动性强，耐心细致，有责任心，善于分析、思考问题。</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading_xzzl">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_jrwm" href="#collapse_xzzl" aria-expanded="false" aria-controls="collapse_xzzl">
									行政助理（数据专员）
								</a>
							</h4>
						</div>
						<div id="collapse_xzzl" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_xzzl">
							<div class="panel-body">
								<p>岗位职责：</p>
								<p>1、普通工作人员职位，协助上级执行一般的不需较多工作经验的任务；</p>
								<p>2、公司日常行政管理的运作（包括运送安排、邮件和固定的供给等等）；</p>
								<p>3、负责公司的档案管理及各类文件、资料的鉴定及统计管理工作；</p>
								<p>4、负责各类数据整理的工作；</p>
								<p>5、协助上级对各项行政事务的安排及执行；</p>
								<p>6、完成上级交给的其它事务性工作。</p>
								<br>
								<p>任职资格：</p>
								<p>1、会计或相关专业大专以上学历；</p>
								<p>2、一年以上相关工作经验；</p>
								<p>3、工作细致、认真、有责任心，较强的文字撰写能力，较强的沟通协调以及语言表达能力；</p>
								<p>4、熟练使用office办公软件及自动化设备，具备基本的网络知识；</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading_wztg">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_jrwm" href="#collapse_wztg" aria-expanded="false" aria-controls="collapse_wztg">
									网站推广
								</a>
							</h4>
						</div>
						<div id="collapse_wztg" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_wztg">
							<div class="panel-body">
								<p>岗位职责：</p>
								<p>1、负责网站相关栏目/频道的信息搜集、编辑、审校等工作；</p>
								<p>2、完成信息内容的策划和日常更新与维护；</p>
								<p>3、编写网站宣传资料及相关产品资料；</p>
								<p>4、配合单位需求组织策划推广活动，并参与执行；</p>
								<p>5、协助完成频道管理与栏目的发展规划，促进网站知名度的提高；</p>
								<p>6、加强与内部相关部门和组织外部的沟通与协作。</p>
								<br>
								<p>任职资格：</p>
								<p>1、编辑、出版、新闻、中文等相关专业大专或以上学历；</p>
								<p>2、有媒体编辑领域从业经验者优先；</p>
								<p>3、熟练操作常用的网页制作软件和网络搜索工具，了解网站开发、运行及维护的相关知识；</p>
								<p>4、良好的文字功底，较强的网站专题策划和信息采编能力；</p>
								<p>5、较高的职业素养、敬业精神及团队精神，擅于沟通。</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="heading_xzqt">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion_jrwm" href="#collapse_xzqt" aria-expanded="false" aria-controls="collapse_xzqt">
									行政前台
								</a>
							</h4>
						</div>
						<div id="collapse_xzqt" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_xzqt">
							<div class="panel-body">
								<p>接待专员岗位职责：</p>
								<p>1、服从前台接待主管的领导，按规定的程序与标准向客人提供一流的接待服务;</p>
								<p>2、负责访客、来宾的登记、接待、引见，对无关人员应阻挡在外或协助保安处理;</p>
								<p>3、熟练掌握公司概况，能够回答客人提出的一般性问题，提供常规的非保密信息;</p>
								<p>4、负责电话、邮件、信函的收转发工作，做好工作信息的记录、整理、建档;</p>
								<p>5、负责公司文件、通知的分发，做好分发记录并保存;</p>
								<p>6、配合接待主管完成部分文件的打印、复印、文字工作;</p>
								<p>7、负责管理前台办公用品及办公设备的清洁保养;</p>
								<p>8、维护前台区域内的整洁，进行该区域内的报刊杂志、盆景植物的日常维护和保养;</p>
								<p>9、执行公司考勤制度，负责员工的考勤记录汇总、外出登记，监督员工刷卡;</p>
								<p>10、负责员工出差预订机票、火车票、客房等，差旅人员行程及联络登记;</p>
								<p>11、对工作中出现的各种问题及时汇报，提出工作改进意见;</p>
								<p>12、完成领导交办的其他或临时工作;</p>
								<br>
								<p>任职条件：</p>
								<p>1、身体健康，精力充沛，仪表端庄，年龄20－35岁;</p>
								<p>2、工作经历：一年以上行政前台工作经验;</p>
								<p>3、文化程度：大专以上学历。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
				<img src="~/Content/images/right_01.jpg" class="img-responsive">
			</div>
		</div>
	</div>
</div>